<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>表单输入页面</title>
    <link rel="stylesheet" href="../css/ui.css" type="text/css" />
    <link type="text/css" rel="Stylesheet" href="../css/tabs.css" />
    <link type="text/css" rel="Stylesheet" href="../css/datepicker.css" />

    <script language="javascript" type="text/javascript" src="../js/jQuery1.3.js"></script>

    <script language="javascript" type="text/javascript" src="../js/jquery-ui-1.7.1.js"></script>

    <script language="javascript" type="text/javascript" src="../js/pa_ui.js"></script>

    <script language="javascript" type="text/javascript" src="../js/ui.js"></script>

</head>
<body class="page">
    <div class="sitemappath">
        当前位置： <span class="root parent"><a href="javascript:void(0)">首页</a> </span><span
            class="separator">>></span> <span class="current"><a href="#">表单输入页面</a></span>
    </div>
    <div class="formcontent">
        <form name="searchform" action="#" method="post">
            <div class="title2 margin">
                客户信息
            </div>
            <table class="table_form">
                <tr>
                    <td class="td_title">
                        客户名称：
                    </td>
                    <td>
                        <input type="text" value="中国平安健康保险股份有限公司" />
                    </td>
                    <td class="td_title">
                        简称：
                    </td>
                    <td>
                        <input type="text" value="健康险" />
                    </td>
                </tr>
                <tr>
                    <td class="td_title">
                        联系地址：
                    </td>
                    <td colspan="3">
                        <input type="text" value="三色路138号" size="50" />
                    </td>
                </tr>
                <tr>
                    <td class="td_title">
                        合作开始时间：
                    </td>
                    <td>
                        <input type="text" value="2010-6-12" disabled="disabled"  />
                    </td>
                    <td class="td_title">
                        合作状态：
                    </td>
                    <td>
                        <input type="text" value="有效" disabled="disabled" />
                    </td>
                </tr>
            </table>
            <div class="title2 margin">
                联系人信息
            </div>
            <table class="table_list" id="tablecontent">
                <thead>
                    <tr>
                        <th>
                            姓名
                        </th>
                        <th>
                            部门
                        </th>
                        <th>
                            职位
                        </th>
                        <th>
                            分机号
                        </th>
                        <th>
                            手机号码
                        </th>
                        <th>
                            邮箱地址
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            王勇
                        </td>
                        <td>
                            企划部
                        </td>
                        <td>
                            经理
                        </td>
                        <td>
                            028-1234567
                        </td>
                        <td>
                            13880864584
                        </td>
                        <td>
                            sq@163.com
                        </td>
                        <td>
                            <input type="button" name="Submit" value="删除" class="button btn_xs" />
                            <input type="button" name="Submit" value="添加联系人" class="button btn_m" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            雷浩平
                        </td>
                        <td>
                            寿险核保作业部
                        </td>
                        <td>
                            核保岗
                        </td>
                        <td>
                            028-7788996
                        </td>
                        <td>
                            13886596541
                        </td>
                        <td>
                            lipin@163.com
                        </td>
                        <td>
                            <input type="button" name="Submit" value="删除" class="button btn_xs" />
                            <input type="button" name="Submit" value="添加联系人" class="button btn_m" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            刘毅
                        </td>
                        <td>
                            寿险核保作业部
                        </td>
                        <td>
                            核保岗
                        </td>
                        <td>
                            028-7788996
                        </td>
                        <td>
                            1388653541
                        </td>
                        <td>
                            liuyi@163.com
                        </td>
                        <td>
                            <input type="button" name="Submit" value="删除" class="button btn_xs" />
                            <input type="button" name="Submit" value="添加联系人" class="button btn_m" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="textcenter margin">
                <input type="button" name="Submit" value="提交" class="button btn_xs" />
            </div>
        </form>
    </div>
</body>
</html>
